<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Xcode Version Control.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8827B7181D426FE5007035BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8827B72C1D426FE5007035BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8827B7371D426FE6007035BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
